.mediaViewInfo {
	--web-view-name: 05. Subscriptions;
	--web-view-id: ID05_Subscriptions;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID05_Subscriptions;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.ID05_Subscriptions_Class {
	position: absolute;
	width: 1136px;
	height: 2436px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 05. Subscriptions;
	--web-view-id: ID05_Subscriptions;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.Rectangle_4_eo_Class {
	fill: rgba(42,66,74,1);
}
.Rectangle_4_eo {
	position: absolute;
	overflow: visible;
	width: 1136px;
	height: 2436px;
	left: 0px;
	top: 0px;
}
.botom_bar_ep_Class {
	fill: rgba(49,77,85,1);
}
.botom_bar_ep {
	overflow: visible;
	position: absolute;
	width: 1136px;
	height: 200px;
	left: 0px;
	top: 2236px;
	transform: matrix(1,0,0,1,0,0);
}
.menu_eq_Class {
	opacity: 0.55;
	position: absolute;
	width: 55.564px;
	height: 53px;
	left: 984px;
	top: 2310px;
	overflow: visible;
}
.Line_192_er_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_192_er {
	overflow: visible;
	position: absolute;
	width: 65.564px;
	height: 10px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_193_es_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_193_es {
	overflow: visible;
	position: absolute;
	width: 65.564px;
	height: 10px;
	left: 0px;
	top: 27px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_194_et_Class {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_194_et {
	overflow: visible;
	position: absolute;
	width: 65.564px;
	height: 10px;
	left: 0px;
	top: 53px;
	transform: matrix(1,0,0,1,0,0);
}
.settings_eu_Class {
	opacity: 0.55;
	fill: rgba(255,255,255,1);
}
.settings_eu {
	overflow: visible;
	position: absolute;
	width: 71.083px;
	height: 74.447px;
	left: 780.5px;
	top: 2299px;
	transform: matrix(1,0,0,1,0,0);
}
.my_content_button_ev_Class {
	position: absolute;
	width: 178px;
	height: 178px;
	left: 479px;
	top: 2180px;
	overflow: visible;
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 03__My_Content.html;
	cursor: pointer;
}
.Ellipse_3_ew_Class {
	fill: rgba(72,101,109,1);
}
.Ellipse_3_ew {
	filter: drop-shadow(0px 16px 9px rgba(0, 0, 0, 0.051));
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 207.5px;
	left: 0px;
	top: 0px;
}
.Group_1_ex_Class {
	opacity: 0.8;
	position: absolute;
	width: 74px;
	height: 74px;
	left: 52px;
	top: 52px;
	overflow: visible;
}
.Rectangle_6_ey_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_6_ey {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 0px;
}
.Rectangle_9_ez_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_9_ez {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 0px;
	top: 43px;
}
.Rectangle_7_e_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_7_e {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 43px;
	top: 0px;
}
.Rectangle_8_e_Class {
	fill: rgba(255,255,255,1);
}
.Rectangle_8_e {
	position: absolute;
	overflow: visible;
	width: 31px;
	height: 31px;
	left: 43px;
	top: 43px;
}
.notification_e_Class {
	opacity: 0.55;
	fill: rgba(255,255,255,1);
}
.notification_e {
	overflow: visible;
	position: absolute;
	width: 60.423px;
	height: 72.447px;
	left: 306.742px;
	top: 2300px;
	transform: matrix(1,0,0,1,0,0);
}
.home_e_Class {
	fill: rgba(249,166,26,1);
}
.home_e {
	overflow: visible;
	position: absolute;
	width: 81.892px;
	height: 70.724px;
	left: 84px;
	top: 2301px;
	transform: matrix(1,0,0,1,0,0);
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 04__Browse.html;
	cursor: pointer;
}
.enterprise_Class {
	position: absolute;
	width: 1006.278px;
	height: 481.951px;
	left: 64.719px;
	top: 1630px;
	overflow: visible;
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 06__Order_summary.html;
	cursor: pointer;
}
.Rectangle_30_Class {
	fill: rgba(53,78,87,1);
}
.Rectangle_30 {
	filter: drop-shadow(0px 31px 25px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 1081.278px;
	height: 556.552px;
	left: 0px;
	top: 0.399px;
}
.Enterprise_e_Class {
	left: 311.259px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 380px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 84px;
	color: rgba(91,247,226,1);
}
.per_year_Class {
	left: 403.281px;
	top: 249.951px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
.ID799_Class {
	left: 353.209px;
	top: 81.081px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 133px;
	color: rgba(255,255,255,1);
}
.Rectangle_32_Class {
	fill: rgba(249,166,26,1);
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 1006.278px;
	height: 133.411px;
	left: 0px;
	top: 348.539px;
}
.GET_STARTED_Class {
	left: 346.222px;
	top: 371.41px;
	position: absolute;
	overflow: visible;
	width: 306px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -4px;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(42,66,74,1);
}
.professional_Class {
	position: absolute;
	width: 1006.278px;
	height: 481.552px;
	left: 64.719px;
	top: 1069px;
	overflow: visible;
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 06__Order_summary.html;
	cursor: pointer;
}
.Rectangle_30_fc_Class {
	fill: rgba(53,78,87,1);
}
.Rectangle_30_fc {
	filter: drop-shadow(0px 31px 25px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 1081.278px;
	height: 556.552px;
	left: 0px;
	top: 0px;
}
.Professional_fd_Class {
	left: 273.234px;
	top: 0.362px;
	position: absolute;
	overflow: visible;
	width: 457px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 84px;
	color: rgba(91,247,226,1);
}
.ID599_fe_Class {
	left: 353.209px;
	top: 80.682px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 133px;
	color: rgba(255,255,255,1);
}
.Rectangle_32_ff_Class {
	fill: rgba(249,166,26,1);
}
.Rectangle_32_ff {
	position: absolute;
	overflow: visible;
	width: 1006.278px;
	height: 133.411px;
	left: 0px;
	top: 348.14px;
}
.GET_STARTED_fg_Class {
	left: 346.222px;
	top: 371.011px;
	position: absolute;
	overflow: visible;
	width: 306px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -4px;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(42,66,74,1);
}
.per_year_fh_Class {
	left: 403.063px;
	top: 247.163px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
.startert_Class {
	position: absolute;
	width: 1006.278px;
	height: 481.552px;
	left: 64.719px;
	top: 507px;
	overflow: visible;
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 06__Order_summary.html;
	cursor: pointer;
}
.Rectangle_30_fj_Class {
	fill: rgba(53,78,87,1);
}
.Rectangle_30_fj {
	filter: drop-shadow(0px 31px 25px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 1081.278px;
	height: 556.552px;
	left: 0px;
	top: 0px;
}
.Starter_Class {
	left: 374.174px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 256px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 84px;
	color: rgba(91,247,226,1);
}
.per_year_fl_Class {
	left: 403.281px;
	top: 248px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
.ID399_Class {
	left: 353.209px;
	top: 80.682px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: bold;
	font-size: 133px;
	color: rgba(255,255,255,1);
}
.Rectangle_32_fn_Class {
	fill: rgba(249,166,26,1);
}
.Rectangle_32_fn {
	position: absolute;
	overflow: visible;
	width: 1006.278px;
	height: 133.411px;
	left: 0px;
	top: 348.14px;
}
.GET_STARTED_fo_Class {
	left: 346.221px;
	top: 371.011px;
	position: absolute;
	overflow: visible;
	width: 306px;
	white-space: nowrap;
	line-height: 60px;
	margin-top: -4px;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 52px;
	color: rgba(42,66,74,1);
}
.yearly_Class {
	position: absolute;
	width: 488px;
	height: 132px;
	left: 583px;
	top: 295px;
	overflow: visible;
}
.Rectangle_62_Class {
	fill: rgba(249,166,26,1);
}
.Rectangle_62 {
	position: absolute;
	overflow: visible;
	width: 488px;
	height: 132px;
	left: 0px;
	top: 0px;
}
.Yerarly_Class {
	left: 178px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
.monthly_Class {
	position: absolute;
	width: 490px;
	height: 132px;
	left: 65px;
	top: 295px;
	overflow: visible;
}
.Rectangle_61_Class {
	fill: rgba(53,78,87,1);
}
.Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 490px;
	height: 132px;
	left: 0px;
	top: 0px;
}
.Monthly_fu_Class {
	opacity: 0.43;
	left: 165px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,255,255,1);
}
.back__cross_fv_Class {
	position: absolute;
	width: 1048.427px;
	height: 43.39px;
	left: 43.077px;
	top: 34px;
	overflow: visible;
	transition: all 0.4s ease-out;
	--web-animation: fadein 0.4s ease-out;
	--web-action-type: page;
	--web-action-target: 04__Browse.html;
	cursor: pointer;
}
.icons8_multiply_1_fw_Class {
	fill: rgba(149,161,165,1);
}
.icons8_multiply_1_fw {
	overflow: visible;
	position: absolute;
	width: 41.007px;
	height: 40.856px;
	left: 1007.42px;
	top: 1px;
	transform: matrix(1,0,0,1,0,0);
}
.icons8_left_1_fx_Class {
	fill: rgba(149,161,165,1);
}
.icons8_left_1_fx {
	overflow: visible;
	position: absolute;
	width: 43.847px;
	height: 43.39px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_fy_Class {
	opacity: 0.2;
	fill: transparent;
	stroke: rgba(91,247,226,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_fy {
	overflow: visible;
	position: absolute;
	width: 1136px;
	height: 1px;
	left: 0.5px;
	top: 229.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Plans__pricing_Class {
	left: 88px;
	top: 102.396px;
	position: absolute;
	overflow: visible;
	width: 417px;
	white-space: nowrap;
	text-align: left;
	font-family: Titillium Web;
	font-style: normal;
	font-weight: normal;
	font-size: 65px;
	color: rgba(255,255,255,1);
}